@*@model Crowler.Models.Post*@
@model Crowler.ViewModel.HomePageResultVM

@{
    ViewData["Title"] = "TiTok crowling";
}


@*
    <table class="table">
    <thead>
    <tr>
    <th scope="col">Profile</th>
    <th scope="col">Username</th>
    <th scope="col">NikName</th>
    <th scope="col">Caption </th>
    <th scope="col">LikeCount</th>
    <th scope="col">CommentCount</th>
    <th scope="col">VideoAddress</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row"> <a href="@Model.Post.Link" target="_blank">  <img src="@Model.Post.Profile" /> </a></th>
    <td> <a href="@Model.Post.Link" "target=" _blank">   @Model.Post.Username</a></td>
    <td>@Model.Post.NikName</td>
    <td>@Model.Post.Caption</td>
    <td>@Model.Post.LikeCount</td>
    <td>@Model.Post.CommentCount</td>
    <td> <a href="@Model.Post.VideoAddress" target="_blank"> click me </a></td>
    </tr>
    </tbody>
    </table>*@


     